
.img {
    border: 3px solid #e9e9d7;
    flex: 1;
    display: flex;
    border-radius: 8px;
    width: auto;
    height:auto;
    max-width: 100%;

}

.img > img {
    border-radius: 8px;
}


@media(max-width: 768px) {
    .img > img {
        height: 300px;
        width: 200px;
    }
}
