.formSection {
    margin-top: 96px;
    display: flex;
    flex-direction: column;
}

.span  {
    font-weight: 500;
    font-size: clamp(1rem, 2.5vw, 2rem);
}

.input {
    border: 2px solid var(--border);
    padding: 16px;
    width: 500px;
    border-radius: 8px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    display: flex;
    flex: 1;    
}


.input > input {
    display:flex;
    border:none;
    background:none;
    margin:0;
    outline:0;
    padding: 0;
    flex: 1;
    color: var(--text);
    cursor: pointer;
}

.input >input::placeholder {
    font-weight: 700;
    color: var(--border);
    font-size: 16px; 
}

.formInput {
    display: flex;
    margin-top: 12px;
}

.btn {
    background-color: var(--bg);
    border: 2px solid var(--border);
    padding: 0 12px;
    cursor: pointer;
    border-radius: 8px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
}

.form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
   
}



@media(max-width: 1024px) {
    .formSection {
        margin-top: 40px;
    }
    .input {
        padding: 12px;
    }
}