.container{
    border: var(--border) 2px solid;
    border-radius: 8px;
    margin-bottom: 24px;
    padding: 15px 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    align-items: center;
}

.button {
    display: flex;
    flex: 1;    
    align-items: center;
    background-color: transparent;
    border: none;
    color: var(--text);
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -0.12px;
    user-select: none;
    cursor: pointer;
}
.wrapper {
    transition: height 0.2s ease-in-out;
    overflow: hidden;

    padding-bottom: 0px;
}

.question,
.content {
    font-size: clamp(.60rem, 1.5vw, 1rem);
}

@media(max-width: 1024px) {
    .icon {
        height: 12px;
    }
    .container {
        padding: 8px;
    }
    .content,
    .question {
        font-size: 12px;
    }
}