.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
    /* position: fixed;
    width: 90%;
    top: 0;
    max-width: 1400px;

    z-index: 999;
    background-color: var(--bg);
    background-color: red; */
    
  }

